<div class="sidebar">
    <h2 style="text-align: center;">Explore</h2>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <%if(path==='/'){%>
            <li class="main-header__item"><a class="active" href="/">Home</a></li>
            <li class="main-header__item"><a class="none" href="/showRecords">Show Events</a></li>
            <%}else if(path=='/addBirthdayRecord'||path==='/addAnniversaryRecord'){%>
                <li class="main-header__item"><a class="none" href="/">Home</a></li>
                <li class="main-header__item"><a class="<%= path==='/addBirthdayRecord' ? 'active' : '' %>" href="/addBirthdayRecord">Add Birthday</a></li>
                <li class="main-header__item"><a class="<%= path==='/addAnniversaryRecord' ? 'active' : '' %>" href="/addAnniversaryRecord">Add Anniversary</a></li>
                <li class="main-header__item"><a class="none" href="/showRecords">Show Events</a></li>
            <%}%>
        </ul>
    </nav>
</div>