<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>

    <form action="/" method="post">
        <div id="birthdayFields" class="dynamic-content">
            <h1><%=errorMsg%></h1>
        </div>
    </form>
    
</body>
</html>