<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Record Options</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/nav.css">

<script>
    // script.js

// Function to show flash message pop-up
function showFlashMessage(message) {
    const flashMessageModal = document.getElementById('flashMessageModal');
    const flashMessage = document.getElementById('flashMessage');

    flashMessage.textContent = message;
    flashMessageModal.style.display = 'block';
}

// Function to close the flash message pop-up
function closeFlashMessage() {
    const flashMessageModal = document.getElementById('flashMessageModal');
    flashMessageModal.style.display = 'none';
}

// Event listener for closing the flash message pop-up
document.addEventListener('click', (event) => {
    if (event.target.classList.contains('close')) {
        closeFlashMessage();
    }
});

</script>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>

    
    <div id="flashMessageModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="flashMessage"><%= message %></p> <!-- Dynamic content for flash message -->
        </div>
    </div>

    
    <div class="main-container">
        <h2>Choose an Option</h2>
        <div class="container">
            <div class="option-card" onclick="redirectTo('/addBirthdayRecord')">
                <h3>Birthday Record</h3>
                <p>Click here to Add a Birthday record.</p>
            </div>
            <div class="option-card" onclick="redirectTo('/addAnniversaryRecord')">
                <h3>Anniversary Record</h3>
                <p>Click here to Add an Anniversary record.</p>
            </div>
        </div>
    </div>
<script>
    function redirectTo(path) {
        window.location.href = path;
    }
        var message = "<%= message %>"; // Access EJS variable here
        if (message) {
            showFlashMessage(message);
        }
</script>
</body>
</html>
